/node_modules

/public/avatars
/public/covers
/public/uploads
/PREPARATION DOSSIER

/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.composer/
.bash_history
.subversion/
.vscode-server/
.wget-hsts
composer.phar
logs/
.viminfo
public/teamlogo/NV9csRCc4cZnODsmwxdvfT1Uz8IXg1y9AExxCHDo.jpg
public/teamlogo
public/photos_match
